// Input Group Wrapper

@mixin input-group-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-8; // Spacing between elements
}

@mixin input-label {
  font-weight: $fw-medium;
  color: $gray-900;
  font-size: $s2-font-size;
}

@mixin input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

@mixin input-icon($color) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color;

  &.dropdown-icon {
    right: $spacing-16;
  }

  &:not(.dropdown-icon) {
    left: $spacing-16;
  }
}

@mixin helper-text($color) {
  color: $color;
  font-size: $s2-font-size;
}

@mixin input-default(
  $bg-color,
  $bg-color-hover,
  $bg-color-focus,
  $padding,
  $border-color,
  $border-color-focus
) {
  flex: 1;
  background-color: $bg-color;
  padding: $padding $spacing-40;
  border: 2px solid $border-color;
  border-radius: $border-radius-xs;
  font-size: $b1-font-size;
  color: $gray-900;

  &:focus {
    border: $border-color-focus 2px solid;
    background-color: $bg-color-focus;
    outline: none;
  }

  &:hover:not(:disabled) {
    background-color: $bg-color-hover;
  }

  &:disabled {
    background-color: $gray-400;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $gray-400;
  }
}

@mixin input-variant($bg-color, $padding, $border-color) {
  flex: 1;
  background-color: $bg-color;
  padding: $padding $spacing-40;
  border: 2px solid $border-color;
  border-radius: $border-radius-xs;
  font-size: $b1-font-size;
  color: $gray-900;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $gray-400;
  }
}

//           Large default
.input-group-large-primary-default {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-default(
      $gray-50,
      // $bg-color,
      $gray-100,
      // $bg-color-hover,
      $primary-50,
      // $bg-color-focus,
      $spacing-12,
      // $padding,
      $gray-200,
      // $border-color,
      $primary-500,
      // $border-color-focus,
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($gray-400);
  }

  // Helper Text
  .helper-text {
    @include helper-text($gray-400);
  }
}
//           Medium default
.input-group-medium-primary-default {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-default(
      $gray-50,
      //  $bg-color,
      $gray-100,
      // $bg-color-hover,
      $primary-50,
      // $bg-color-focus,
      $spacing-8,
      // $padding,
      $gray-200,
      // $border-color,
      $primary-500,
      // $border-color-focus,
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($gray-400);
  }

  // Helper Text
  .helper-text {
    @include helper-text($gray-400);
  }
}
//           large secondary default
.input-group-large-secondary-default {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-default(
      $white,
      //  $bg-color,
      $white,
      // $bg-color-hover,
      $white,
      // $bg-color-focus,
      $spacing-12,
      // $padding,
      $gray-200,
      // $border-color,
      $primary-500,
      // $border-color-focus,
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($gray-400);
  }

  // Helper Text
  .helper-text {
    @include helper-text($gray-400);
  }
}
//           medium secondary default
.input-group-medium-secondary-default {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-default(
      $white,
      //  $bg-color,
      $white,
      // $bg-color-hover,
      $white,
      // $bg-color-focus,
      $spacing-8,
      // $padding,
      $gray-200,
      // $border-color,
      $primary-500,
      // $border-color-focus,
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($gray-400);
  }

  // Helper Text
  .helper-text {
    @include helper-text($gray-400);
  }
}
//           large primary success
.input-group-large-primary-success {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $green-50,
      // $bg-color
      $spacing-12,
      // padding
      $green-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($green-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($green-500);
  }
}
//           medium primary success
.input-group-medium-primary-success {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $green-50,
      // $bg-color
      $spacing-8,
      // padding
      $green-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($green-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($green-500);
  }
}
//           large secondary success
.input-group-large-secondary-success {
  background-color: $white;

  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-12,
      // padding
      $green-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($green-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($green-500);
  }
}
//           medium secondary success
.input-group-medium-secondary-success {
  background-color: $white;

  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-8,
      // padding
      $green-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($green-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($green-500);
  }
}
//           large primary warning
.input-group-large-primary-warning {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $yellow-50,
      // $bg-color
      $spacing-12,
      // padding
      $yellow-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($yellow-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($yellow-500);
  }
}
//           medium primary warning
.input-group-medium-primary-warning {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $yellow-50,
      // $bg-color
      $spacing-8,
      // padding
      $yellow-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($yellow-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($yellow-500);
  }
}
//           large secondary warning
.input-group-large-secondary-warning {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-12,
      // padding
      $yellow-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($yellow-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($yellow-500);
  }
}
//           medium secondary warning
.input-group-medium-secondary-warning {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-8,
      // padding
      $yellow-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($yellow-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($yellow-500);
  }
}
//           large primary info
.input-group-large-primary-info {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $blue-50,
      // $bg-color
      $spacing-12,
      // padding
      $blue-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($blue-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($blue-500);
  }
}
//           medium primary info
.input-group-medium-primary-info {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $blue-50,
      // $bg-color
      $spacing-8,
      // padding
      $blue-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($blue-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($blue-500);
  }
}
//           large secondary info
.input-group-large-secondary-info {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-12,
      // padding
      $blue-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($blue-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($blue-500);
  }
}
//           medium secondary info
.input-group-medium-secondary-info {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-8,
      // padding
      $blue-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($blue-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($blue-500);
  }
}
//           large primary error
.input-group-large-primary-error {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $red-50,
      // $bg-color
      $spacing-12,
      // padding
      $red-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($red-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($red-500);
  }
}
//           medium primary error
.input-group-medium-primary-error {
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $red-50,
      // $bg-color
      $spacing-8,
      // padding
      $red-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($red-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($red-500);
  }
}
//           large secondary error
.input-group-large-secondary-error {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-12,
      // padding
      $red-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($red-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($red-500);
  }
}
//           medium secondary error
.input-group-medium-secondary-error {
  background-color: $white;
  @include input-group-wrapper;

  label {
    @include input-label;
  }

  .input-wrapper {
    @include input-wrapper;
  }

  input {
    @include input-variant(
      $white,
      // $bg-color
      $spacing-8,
      // padding
      $red-500 // $border-color
    );
  }

  // Input Icon
  .input-icon {
    @include input-icon($red-500);
  }

  // Helper Text
  .helper-text {
    @include helper-text($red-500);
  }
}
